* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	width: 100%;	
}

body{
    background: linear-gradient(180deg, #052C3A 0%, #095573 100%);
}

p, h1 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.5);
}

h1 {
    margin-top: 75px;
    margin-left: 300px;
}

.cod {
    font-size: 30px;
}

.name {
    font-size: 22px;
}

.onus1{
    font-size: 50px;
    color: #2FD058;
}

.onus2{
    font-size: 50px;
    color: #FF2B2B;
}

.onus3{
    font-size: 50px;
    color: #FF8511;
}

.dbm1 {
    font-size: 30px;
    color: #2FD058;
    margin-left: 40px;
}

.dbm2{
    font-size: 30px;
    color: #FF2B2B;
    margin-left: 40px;
}

.dbm3 {
    font-size: 30px;
    color: #FF8511;
    margin-left: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 750px;
    height: 127px;

    background: rgba(0, 0, 0, 0.2);

    border: 2px solid #095573;
    box-sizing: border-box;
}

.cardDBM1 {
    width: 332px;
    height: 100px;

    margin-left: 43px;
    margin-top: 13px;
}

.cardDBM2 {
    width: 217px;
    height: 100px;

    margin-left: 158px;
    margin-top: -100px;
}

.cardDBM3 {
    width: 121px;
    height: 100px;

    margin-left: 560px;
    margin-top: -85px;
}

.signal {
    width: 80px;
    height: 80px;
}